@import './assets/scss/variables';
@import './assets/scss/switcher';
@import'./assets/css/bootstrap.css';

//simple_bar_react

@import 'simplebar-react/dist/simplebar.min.css';

//@simon picker css

@import '@simonwep/pickr/dist/themes/classic.min.css'; // 'classic' theme
@import '@simonwep/pickr/dist/themes/monolith.min.css'; // 'monolith' theme
@import '@simonwep/pickr/dist/themes/nano.min.css'; // 'nano' theme

@import "./assets/css/styles.css";
@import "./assets/css/icons.css";




//bg-img1 start
[data-bg-img="bgimg1"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img1.jpg);
    @extend .bg-img;

    &[data-menu-styles="transparent"][data-theme-mode="dark"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img1.jpg);
    }
}

//bg-img1 end

//bg-img2 start
[data-bg-img="bgimg2"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img2.jpg);
    @extend .bg-img;

    &[data-menu-styles="transparent"][data-theme-mode="dark"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img2.jpg);
    }
}

//bg-img2 end

//bg-img3 start
[data-bg-img="bgimg3"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img3.jpg);
    @extend .bg-img;

    &[data-menu-styles="transparent"][data-theme-mode="dark"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img3.jpg);
    }
}

//bg-img3 end

//bg-img4 start
[data-bg-img="bgimg4"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img4.jpg);
    @extend .bg-img;

    &[data-menu-styles="transparent"][data-theme-mode="dark"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img4.jpg);
    }
}

//bg-img4 end

//bg-img5 start
[data-bg-img="bgimg5"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img5.jpg);
    @extend .bg-img;

    &[data-menu-styles="transparent"][data-theme-mode="dark"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img5.jpg);
    }
}

//bg-img5 end

[data-menu-styles="dark"] {
  
    &[data-theme-mode="light"] {
      --menu-bg: #202025;
  
      &[data-bg-img="bgimg1"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img1.jpg);
      }
  
      &[data-bg-img="bgimg2"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img2.jpg);
      }
  
      &[data-bg-img="bgimg3"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img3.jpg);
      }
  
      &[data-bg-img="bgimg4"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img4.jpg);
      }
  
      &[data-bg-img="bgimg5"] {
        --menu-bg: url(../src/assets/images/menu-bg-images/bg-img5.jpg);
      }
    }
  }

  @media (min-width: 1717px) {
    .app-sidebar .main-menu {
        margin-inline: 0 !important;
    }
}